<div class="channel-form p-hidden">
    <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/channel/">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
        <span class="add-text">Manage channels</span>
    </div>
    <div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/channel/new">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
        <span class="add-text">Add Another</span>
    </div>
    <div class="heading center">
        Edit {{id}}
    </div>
    <div id="cover-add-modal" class="modal"></div>
    <div id="poster-add-modal" class="modal"></div>
    <div id="poster-small-add-modal" class="modal"></div>
    <div id="splash-add-modal" class="modal">
    </div>
    <div class="row">
        <form class="col s12">
            <div class="row mtop2">
                <div class="col s12 center">
                    <div class="p-hidden channel-cover-thumbnail-container mr">
                        <img src="" alt="" class="card responsive-img cover-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer channel-cover-control" href="#cover-add-modal">Add cover</div>
                </div>
            </div>
            <div class="row mtop">
                <div class="col s6 center">
                    <div class="p-hidden channel-icon-small-thumbnail-container mr">
                        <img src="" alt="" class="card responsive-img icon-small-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer channel-icon-small-control center" href="#poster-small-add-modal">Add icon</div>
                </div>
                <div class="col s6 center">
                    <div class="p-hidden channel-icon-thumbnail-container mr">
                        <img src="" alt="" class="card responsive-img icon-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer channel-icon-control center" href="#poster-add-modal">Add poster</div>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="channel-name" type="text" autocomplete="off" value="{{name}}">
                    <label for="channel-name" class="active">Channel name</label>
                    <span class="suffix p-hidden slug-available">
                        <div class="generated-slug" ></div>
                    </span>
                </div>
                <div class="input-field col s6">
                    <input id="channel-display-name" type="text" value="{{display_name}}">
                    <label for="channel-display-name" class="active">Display name</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="channel-description" type="text" autocomplete="off" value="{{description}}" class="">
                    <label for="channel-description" class="active">Long description</label>
                </div>
                <div class="input-field col s6">
                    <input id="channel-short-description" type="text" autocomplete="off" value="{{short_description}}" class="length-field" length="170" />
                    <label for="channel-short-description" class="active">Short description</label>
                </div>
            </div>
            <div class="row mtop">
                <div id="edit-channel-tag-list-wrapper" class="input-field col s6">
                    <input id="edit-channel-tag-list" autocomplete="off" type="text" data-placeholder="Choose tags" multiple></input>
                </div>
                <div class="input-field col s6">
                    <input id="channel-provider" type="text" autocomplete="off" placeholder="Choose provider" value="{{provider}}" ></input>
                    <label for="channel-provider" class="active" >Channel provider</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="channel-tagline" type="text" autocomplete="off" value="{{tagline}}" class="length-field" />
                    <label for="channel-tagline" class="active">Tagline</label>
                </div>
                <div class="input-field col s6">
                    <input type="checkbox" id="channel-show-title" />
                    <label for="channel-show-title">Show title</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input type="checkbox" id="channel-highlight" />
                    <label for="channel-highlight">Highlight</label>
                </div>
                <div class="input-field col s6">
                    <input type="checkbox" id="channel-is-global" />
                    <label for="channel-is-global">Is global</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <div class="btn btn-outline btn-primary channel-splash pointer inline-block modal-trigger" href="#splash-add-modal">upload splash</div>
                    <div class="inline-block channel-splash-name"></div>
                </div>
            </div>
            <div class="row mtop3">
                <div class="col s12 center mtop2">
                    <div class="btn btn-outline btn-success channel-form-update pointer">UPDATE</div>
                    <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
                    <div class="btn btn-outline btn-warninng channel-form-approve pointer p-hidden">APPROVE</div>
                </div>
            </div>
        </form>
    </div>
</div>