<div class="modal splash-display-modal" id="splash-display-modal">
    <div class="h2 mbot0 ml2 video-preloader-container">Channel Splash</div>
    <div class="modal-close">CLOSE</div>
    <div class="p-modal-content">
        <div class="video-preview center card">
            <video class="" id="video-player" controls width="400" height="300">
            </video>
        </div>
    </div>
</div>
<div class="channel-info-container p-hidden">
    <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/channel/">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
        <span class="add-text">Manage channel</span>
    </div>
    <div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/channel/new">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
        <span class="add-text">Add Another</span>
    </div>
    <div class="heading center">
        {{channel_name}}
    </div>
    <div class="row mtop2">
        <div class="col s12 center">
            <div class="channel-cover-thumbnail-container mr ">
                <img src="" alt="" class="card responsive-img cover-thumbnail">
            </div>
            <div class="p-hidden cover-alt-text blank-label">NO COVER ADDED</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="col s6 center">
            <div class="channel-icon-thumbnail-container mr ">
                <img src="" alt="" class="card responsive-img icon-thumbnail" >
            </div>
            <div class="p-hidden icon-alt-text blank-label ">NO POSTER ADDED</div>
        </div>
        <div class="col s6 center">
            <div class="channel-icon-small-thumbnail-container mr">
                <img src="" alt="" class="card responsive-img icon-small-thumbnail">
            </div>
            <div class="p-hidden icon-small-alt-text blank-label">NO ICON ADDED</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="Channel_id" class="text-label" style="text-transform:lowercase" data-message="content id">{{channel_id}}</div>
        </div>
        <div class="input-field col s6">
            <div id="channel-display-name" class="text-label" data-message="channel display name">{{channel_display_name}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="channel-description" class="text-label" data-message="Description">{{description}}</div>
        </div>
        <div class="input-field col s6">
            <div id="channel-short-description" class="text-label" data-message="Short description">{{short_description}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="view-channel-tag-list" class="text-label" data-message="Channel tags">{{tags}}</div>
        </div>
        <div class="input-field col s6">
            <div id="channel-provider" class="text-label" data-message="Channel provider">{{provider}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="channel-tagline" class="text-label" data-message="Channel Tagline">{{tagline}}</div>
        </div>
        <div class="input-field col s6">
            {{#show_title}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> Title visible </span>
            </div>
            {{/show_title}} {{^show_title}}
            <div class="non-premium-label">
                <span> Title hidden </span>
            </div>
            {{/show_title}}
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            {{#is_global}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> Global </span>
            </div>
            {{/is_global}} {{^is_global}}
            <div class="non-premium-label">
                <span> Private channel </span>
            </div>
            {{/is_global}}
        </div>
        <div class="input-field col s6">
            {{#highlight}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> HIGHLIGHTED </span>
            </div>
            {{/highlight}} {{^highlight}}
            <div class="non-premium-label">
                <span> STANDARD </span>
            </div>
            {{/highlight}}
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div class=" btn btn-primary btn-outline modal-trigger pointer splash-view-control" href="#splash-display-modal">View splash</div>
            <div class="p-hidden splash-alt-text blank-label">No splash added</div>
        </div>
    </div>
    <div class="row mtop2 mtop">
        <div class="col s12 center mtop2">
            <div class="btn btn-outline btn-orange channel-edit-button pointer hyperlink" data-url="/channel/{{channel_id}}/edit">EDIT</div>
            <div class="btn btn-outline btn-warning channel-form-approve pointer p-hidden">APPROVE</div>
            <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
        </div>
    </div>
</div>