<div class="heading center">
    Manage channels
</div>
<div class="add-new right  btn btn-outline btn-primary hyperlink" data-url="/channel/new">
    <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
    <span class="add-text">Add</span>
</div>
<div class="manage-button left channel-table-refresh-button left mbot">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
</div>
<div class="btn btn-orange btn-outline channel-fetch-retry fetch-retry pointer p-hidden">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> RETRY
</div>
<table id="channel-list" class="table table-striped table-bordered ammo-table p-hidden" cellspacing="0" width="100%"></table>