<div class="heading center">
    Manage content
</div>
<div id="media-preview-modal" class="modal">
</div>
<div class="modal-trigger hidden media-preview-trigger" href="#media-preview-modal">click</div>
<div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/content/new">
    <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
    <span class="add-text">Add</span>
</div>
<div class="manage-button left content-table-refresh-button left mbot">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
</div>

<div class="btn btn-orange btn-outline content-fetch-retry fetch-retry pointer p-hidden">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> RETRY
</div>
<table id="content-list" class="table table-striped table-bordered ammo-table p-hidden" cellspacing="0" width="100%"></table>