<div class="content-info-container p-hidden">
    <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/content/">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
        <span class="add-text">Manage content</span>
    </div>
    <div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/content/new">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
        <span class="add-text">Add Another</span>
    </div>
    <div class="heading center">
        {{content_name}}
    </div>
    <div id="media-preview-modal" class="modal">
    </div>
    <div class="modal-trigger hidden media-preview-trigger" href="#media-preview-modal">click</div>
    <div class="row mtop2">
        <div class="col s12  center">
            <div class="content-cover-thumbnail-container mr">
                <img src="" alt="" class="card responsive-img cover-thumbnail">
            </div>
            <div class="p-hidden cover-alt-text blank-label">NO COVER ADDED</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="col s6 center">
            <div class="content-poster-thumbnail-container mr">
                <img src="" alt="" class="card responsive-img poster-thumbnail">
            </div>
            <div class="p-hidden poster-alt-text blank-label">NO POSTER ADDED</div>
        </div>
        <div class="col s6 center">
            <div class="content-poster-small-thumbnail-container mr">
                <img src="" alt="" class="card responsive-img poster-small-thumbnail">
            </div>
            <div class="p-hidden poster-small-alt-text blank-label ">NO ICON ADDED</div>
        </div>
    </div>
    <div class="row" mtop>
        <div class="input-field col s6">
            <div id="content_id" class="text-label" style="text-transform:lowercase" data-message="content id">{{content_id}}</div>
        </div>
        <div class="input-field col s6">
            <div id="content-language" class="text-label" data-message="content language">{{content_language}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="content-genre" class="text-label" data-message="content genre">{{content_genre}}</div>
        </div>
        <div class="input-field col s6">
            <div id="content-duration" class="text-label" data-message="content duration">{{content_duration}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="content_type" class="text-label" data-message="content type">{{content_type}}</div>
        </div>
        <div class="input-field col s6">
            <div id="content-artists-name" class="text-label" data-message="star cast">{{content_artists}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="content-provider" class="text-label" data-message="Content provider">{{provider}}</div>
        </div>
        <div class="input-field col s6">
            <div id="content-description" class="text-label" data-message="Long description">{{description}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="view-content-tag-list" class="text-label" data-message="Content tags">{{tags}}</div>
        </div>
        <div class="input-field col s6">
            <div id="content-seo" class="text-label" data-message="Content SEO">{{seo}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="content-short-description" class="text-label" data-message="Short description">{{short_description}}</div>
        </div>
        <div class="input-field col s6 content-video-type-wrapper p-hidden">
            <div id="content-video-type" class="text-label" data-message="Content Video type">{{video_content_type}}</div>
        </div>
    </div>
    <div class="row mtop media-processing-field">
        <div class="input-field col s6">
            {{#media-added}} 
                {{#preview-available}}
                    <div class="btn btn-orange btn-outline media-previewer pointer" data-type="{{content_type}}" data-name="{{content_name}}" data-link="{{local_link}}">Preview Media</div>
                {{/preview-available}} 
                {{^preview-available}}
                    <div class="non-premium-label">
                        <span> Media link generation in process </span>
                    </div>
                {{/preview-available}} 
            {{/media-added}}                    
            {{^media-added}}
                <div class="non-premium-label">
                    <span> No media added </span>
                </div>
            {{/media-added}}
        </div>
        <div class="input-field col s6">
            {{#media-processed}}
            <div class="btn btn-success ">Media processing complete</div>
            {{/media-processed}} {{^media-processed}}
            <div class="btn btn-warning ">Media processing pending</div>
            {{/media-processed}}
        </div>
    </div>
    <div id="trailor-container">
    </div>
    <div class="row mtop">
        <div class="col s6 mtop2">
            {{#box_only}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> Box Only </span>
            </div>
            {{/box_only}} {{^box_only}}
            <div class="non-premium-label">
                <span> Standard </span>
            </div>
            {{/box_only}}
        </div>
        <div class="col s6 mtop2">
            {{#allow_download}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> Download Allowed </span>
            </div>
            {{/allow_download}} {{^allow_download}}
            <div class="non-premium-label">
                <span> Download restricted </span>
            </div>
            {{/allow_download}}
        </div>
        
    </div>
    <div class="row mtop">
        <div class="col s6 mtop2">
            {{#featured}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> Featured </span>
            </div>
            {{/featured}} {{^featured}}
            <div class="non-premium-label">
                <span> Non Featured </span>
            </div>
            {{/featured}}
        </div>
        <div class="col s6 mtop2">
            {{#premium}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> Premium </span>
            </div>
            {{/premium}} {{^premium}}
            <div class="non-premium-label">
                <span> Non premium </span>
            </div>
            {{/premium}}
        </div>
    </div>
    <div class="row mtop premium-requirements p-hidden">
        <div class="input-field col s6">
            <div id="content-expiry" class="text-label" data-message="Content expiry time">{{expiry}}</div>
        </div>
        <div class="input-field col s6">
            <div id="content-cost" class="text-label" data-message="Content cost">{{cost}}</div>
        </div>
    </div>
    <div class="row mtop2 mtop">
        <div class="col s12 center mtop2">
            <div class="btn btn-outline btn-orange content-edit-button pointer hyperlink" data-url="/content/{{content_id}}/edit">EDIT</div>
            <div class="btn btn-outline btn-warning content-form-approve pointer p-hidden">APPROVE</div>
            <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
        </div>
    </div>
</div>