<div class="content-edit-container p-hidden">
    <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/content/">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
        <span class="add-text">Manage content</span>
    </div>
    <div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/content/new">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
        <span class="add-text">Add Another</span>
    </div>
    <div class="heading center">
        Edit {{id}}
    </div>
    <div id="cover-add-modal" class="modal"></div>
    <div id="poster-add-modal" class="modal">
    </div>
    <div id="poster-small-add-modal" class="modal"></div>
    <div id="file-explorer-modal" class="modal">
    </div>
    <div class="modal-trigger hidden s3-explorer" href="#file-explorer-modal">click</div>
    <div id="media-preview-modal" class="modal">
    </div>
    <div class="modal-trigger hidden media-preview-trigger" href="#media-preview-modal">click</div>
    <div class="row">
        <form class="col s12">
            <div class="row mtop2">
                <div class="col s12 center ">
                    <div class="p-hidden content-cover-thumbnail-container mr">
                        <img src="" alt="" class="card responsive-img cover-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer content-cover-control" href="#cover-add-modal">Edit cover</div>
                </div>
            </div>
            <div class="row mtop">
                <div class="col s6 center">
                    <div class="p-hidden content-poster-thumbnail-container mr ">
                        <img src="" alt="" class="card responsive-img poster-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer content-poster-control" href="#poster-add-modal">Edit poster</div>
                </div>
                <div class="col s6 center">
                    <div class="p-hidden content-poster-small-thumbnail-container mr ">
                        <img src="" alt="" class="card responsive-img poster-small-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer content-poster-small-control" href="#poster-small-add-modal">Edit Icon</div>
                </div>
            </div>
            <div class="row" mtop>
                <div class="input-field col s6">
                    <input id="content-name" type="text" class="" value="{{name}}" autocomplete="off">
                    <label for="content-name" class="active">Content name</label>
                    <span class="suffix p-hidden slug-available">
                        <div class="generated-slug" ></div>
                    </span>
                </div>
                <div class="input-field col s6">
                    <input id="content-language" type="text" class="" value="{{language}}">
                    <label for="content-language" class="active">Language</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="content-genre" type="text" class="" value="{{genre}}">
                    <label for="content-genre" class="active">Genre in csv</label>
                </div>
                <div class="input-field col s6">
                    <input id="content-duration" type="text" class="" value="{{duration}}">
                    <label for="content-duration" class="active">Duration in hh:mm:ss</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <select id="content-type">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="audio">Audio</option>
                        <option value="video">Video</option>
                    </select>
                    <label>Content type</label>
                </div>
                <div class="input-field col s6">
                    <input id="content-star-cast" type="text" class="" value="{{cast}}">
                    <label for="content-star-cast" class="active">Star cast in CSV</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input type="text" id="content-provider" autocomplete="off" value="{{provider}}"></input>
                    <label for="content-provider" class="active">Content Provider</label>
                </div>
                <div class="input-field col s6">
                    <input id="content-description" type="text" class="" value="{{description}}">
                    <label for="content-description" class="active">Long description</label>
                </div>
            </div>
            <div class="row mtop">
                <div id="edit-content-tag-list-wrapper" class="input-field col s6">
                    <input id="edit-content-tag-list" type="text" autocomplete="off" data-placeholder="Choose tags" multiple></input>
                </div>
                <div class="input-field col s6">
                    <input id="content-seo" type="text" class="length-field" value="{{seo}}" length="160" >
                    <label for="content-seo" class="active">Content SEO</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="content-short-description" type="text" class="length-field" length="170" value="{{short_description}}">
                    <label for="content-short-description" class="active">Short description</label>
                </div>
                <div class="col s6 input-field content-video-type-wrapper p-hidden">
                    <select id="content-video-type">
                        <option value="shortform" selected>Short Form</option>
                        <option value="movie">Movie</option>
                    </select>
                    <label>Content video type</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <div class="btn btn-outline btn-orange pointer file-add-trigger">Add media</div>
                    <div class="media-toolbar p-hidden">
                        <div class="media-name"></div>
                        <div class="btn btn-outline btn-info inline-block pointer media-preview">preview</div>
                        <div class="btn btn-outline btn-danger inline-block pointer media-remove">remove</div>
                    </div>
                </div>
                <div class="input-field col s6">
                    <div class="content-trailer-item p-hidden base-template mtop">
                        <div class="btn btn-outline btn-primary pointer trailer-add-trigger">Add trailer</div>
                        <div class="trailer-toolbar p-hidden">
                            <div class="trailer-name"></div>
                            <div class="btn btn-outline btn-info inline-block pointer trailer-preview">preview</div>
                            <div class="btn btn-outline btn-danger inline-block pointer trailer-remove">remove</div>
                        </div>
                    </div>
                    <div class="mtop2 btn btn-primary btn-outline btn-circle hint--right trailer-add-button block pointer" data-hint="add another trailer">+</div>
                </div>
            </div>
            <div class="row mtop">
                <div class="col s6">
                    <input type="checkbox" id="content-box-only" />
                    <label for="content-box-only" class="active">Box Only</label>
                </div>
                <div class="col s6">
                    <input type="checkbox" id="content-feature" />
                    <label for="content-feature" class="active">Featured</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="col s6">
                    <input type="checkbox" id="content-allow-download" />
                    <label for="content-allow-download">Allow Downloads</label>
                </div>
                <div class="col s6">
                    <input type="checkbox" id="content-premium" />
                    <label for="content-premium">Premium</label>
                </div>
            </div>
            <div class="row mtop premium-requirements p-hidden">
                <div class="input-field col s6">
                    <input id="content-expiry" type="text" class="" value="{{expiry}}">
                    <label for="content-expiry" class="active">Content expiry time(hh:mm:ss)</label>
                </div>
                <div class="input-field col s6">
                    <input id="content-cost" type="text" class="" value="{{cost}}">
                    <label for="content-cost" class="active" >Content cost(00.00)</label>
                </div>
            </div>
            <div class="row mtop3">
                <div class="col s12 center mtop2">
                    <div class="btn btn-outline btn-success content-form-update pointer">UPDATE</div>
                    <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
                </div>
            </div>
        </form>
    </div>
</div>