<div class="h2 mbot0 ml2 poster-preloader-container">{{title}}</div>
<div class="modal-close">CLOSE</div>
<div class="p-modal-content">
    <div class="poster-input-section">
        <center>
            <div class="btn btn-orange btn-outline poster-selector pointer">Select Image</div>
        </center>
        <div class="or-text">OR</div>
        <div class="input-field col s6" style="margin-top:0px">
            <input id="" type="text" class="poster-url-field" placeholder="Enter image url">
        </div>
        <div class="or-text">OR</div>
        <div class="dnd-area"> <span class="dnd-text">Drop your files on this window</span></div>
    </div>
    <input type="file" class="hidden poster-file-input" accept="image/*">
    <div class="poster-info p-hidden">
        <div class="center poster-toolbar mbot">
            <div class="btn btn-danger btn-outline poster-undo pointer">REMOVE</div>
            <div class="ml btn btn-danger btn-outline poster-crop pointer cropper-tool">CROP</div>
            <div class="ml btn btn-danger btn-outline poster-reset pointer cropper-tool">RESET</div>
            <div class="ml btn btn-danger btn-outline btn-circle poster-zoom-in pointer hint--top cropper-tool" data-hint="zoom in">+</div>
            <div class="ml btn btn-danger btn-outline btn-circle poster-zoom-out pointer hint--top cropper-tool" data-hint="zoom out">-</div>
        </div>
        <div class="poster-preview"></div>
        <div class="poster-confirmation p-hidden">
            <div class="poster-confirm-preview center"></div>
            <div class="center poster-confirm-toolbar mbot mtop">
                <div class="ml btn btn-success btn-outline btn-circle poster-confirm-done pointer hint--left" data-hint="Done">
                    <i class=" tiny material-icons">done</i>
                </div>
                <div class="ml btn btn-danger btn-outline btn-circle poster-confirm-clear pointer hint--right" data-hint="Cancel">
                    <i class="tiny material-icons">clear</i>
                </div>
            </div>
        </div>
    </div>
</div>