<div class="wait-section"></div>
<div class="new-channel-form-wrapper p-hidden">
    <div class="new-channel-form">
        <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/channel/">
            <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
            <span class="add-text">Manage channels</span>
        </div>
        <div class="heading center">
            Add new Channel
        </div>
        <div id="cover-add-modal" class="modal">
        </div>
        <div id="poster-add-modal" class="modal">
        </div>
        <div id="poster-small-add-modal" class="modal">
        </div>
        <div id="splash-add-modal" class="modal">
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row mtop">
                    <div class="col s12 center">
                        <div class="p-hidden new-channel-cover-thumbnail-container mr">
                            <img src="" alt="" class="card responsive-img cover-thumbnail">
                        </div>
                        <div class=" btn btn-primary btn-outline modal-trigger pointer  channel-cover-control" href="#cover-add-modal">Add cover</div>
                    </div>
                </div>
                <div class="row mtop">
                    <div class="col s6 center">
                        <div class="p-hidden new-channel-icon-thumbnail-container mr ">
                            <img src="" alt="" class="card responsive-img icon-thumbnail">
                        </div>
                        <div class=" btn btn-primary btn-outline modal-trigger pointer  channel-icon-control" href="#poster-add-modal">Add Poster</div>
                    </div>
                    <div class="col s6 center">
                        <div class="p-hidden new-channel-icon-small-thumbnail-container mr ">
                            <img src="" alt="" class="card responsive-img icon-small-thumbnail">
                        </div>
                        <div class=" btn btn-primary btn-outline modal-trigger pointer channel-icon-small-control" href="#poster-small-add-modal">Add icon</div>
                    </div>
                </div>
                <div class="row mtop">
                    <div class="input-field col s6">
                        <input id="channel-name" type="text" autocomplete="off" class="">
                        <label for="channel-name">Channel name</label>
                        <span class="suffix p-hidden slug-available">
                            <div class="generated-slug" ></div>
                        </span>
                    </div>
                    <div class="input-field col s6">
                        <input id="channel-display-name" type="text" autocomplete="off" class="">
                        <label for="channel-display-name">Display name</label>
                    </div>
                </div>
                <div class="row mtop">
                    <div class="input-field col s6">
                        <input id="channel-description" type="text" autocomplete="off" class="">
                        <label for="channel-description">Long description</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="channel-short-description" type="text" autocomplete="off" class="length-field" length="170" />
                        <label for="channel-short-description">Short description</label>
                    </div>
                </div>
                <div class="row mtop">
                    <div id="channel-tag-list-wrapper" class="input-field col s6">
                        <input id="channel-tag-list" type="text" data-placeholder="Choose tags" multiple></input>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="channel-provider" class="" autocomplete="off"></input>
                        <label for="channel-provider">Content Provider</label>
                    </div>
                </div>
                <div class="row mtop">
                    <div class="input-field col s6">
                        <input id="channel-tagline" type="text" autocomplete="off" class="">
                        <label for="channel-tagline">Tagline</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" id="channel-show-title" />
                        <label for="channel-show-title">Show title</label>
                    </div>
                </div>
                <div class="row mtop">
                    <div class="input-field col s6">
                        <input type="checkbox" id="channel-highlight" />
                        <label for="channel-highlight">Highlight</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" id="channel-is-global" />
                        <label for="channel-is-global">Is global</label>
                    </div>
                </div>
                <div class="row mtop">
                    <div class="input-field col s6">
                        <div class="btn btn-outline btn-primary new-channel-splash pointer inline-block modal-trigger" href="#splash-add-modal">upload splash</div>
                        <div class="inline-block channel-splash-name"></div>
                    </div>
                </div>
                <div class="row mtop3">
                    <div class="col s12 center mtop2">
                        <div class="btn btn-outline btn-success new-channel-form-submit pointer">SAVE</div>
                        <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>