    <div class="new-provider-form">
        <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/provider/">
            <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
            <span class="add-text">Manage Providers</span>
        </div>
        <div class="heading center">
            Add new provider
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row" mtop>
                    <div class="input-field col s6">
                        <input id="provider-name" type="text" class="">
                        <label for="provider-name">Provider name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="provider-display-name" type="text" class="">
                        <label for="provider-display-name">Display name</label>
                    </div>
                </div>
                <div class="row mtop">
                    <div class="input-field col s6">
                        <input type="date" class="datepicker" id="provider-campaign-start" />
                        <label for="provider-campaign-start">Campaign start date</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="date" class="datepicker" id="provider-campaign-end" />
                        <label for="provider-campaign-end">Campaign end date</label>
                    </div>
                </div>
                <div class="row mtop">
                    <div class="input-field col s6">
                        <input type="text" id="provider-twitter-link" />
                        <label for="provider-twitter-link">Provider twitter link</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="provider-fb-link" />
                        <label for="provider-fb-link">Provider fb link</label>
                    </div>
                </div>
                <div class="row mtop">
                    <div class="input-field col s6">
                        <input type="text" id="provider-slug-url" autocomplete="off" />
                        <label for="provider-slug-url">Provider slug url</label>
                        <span class="suffix p-hidden slug-unavailable">
                            <i class="tiny material-icons">info_outline</i>
                            <div class="slug-error">Url already taken :(</div>
                        </span>
                        <span class="suffix p-hidden slug-available">
                            <i class="tiny material-icons">done</i>
                            <div class="generated-slug" ></div>
                        </span>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" id="provider-active" />
                        <label for="provider-active">Active</label>
                    </div>
                </div>
                <div class="row mtop3">
                    <div class="col s12 center mtop2">
                        <div class="btn btn-outline btn-success new-provider-form-submit pointer">SAVE</div>
                        <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>