<div class="provider-info-container p-hidden">
    <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/provider/">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
        <span class="add-text">Manage providers</span>
    </div>
    <div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/provider/new">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
        <span class="add-text">Add Another</span>
    </div>
    <div class="heading center">
        {{provider_id}}
    </div>
    <div class="row" mtop>
        <div class="input-field col s6">
            <div id="provider-name" class="text-label" style="text-transform:lowercase" data-message="provider name">{{provider_name}}</div>
        </div>
        <div class="input-field col s6">
            <div id="provider-display-name" class="text-label" data-message="provider display name">{{provider_display_name}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="provider-campaign-start" class="text-label" data-message="campaign start date">{{campaign_start}}</div>
        </div>
        <div class="input-field col s6">
            <div id="provider-campaign-end" class="text-label" data-message="campaign end date">{{campaign_end}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="provider-twitter-link" class="text-label" data-message="Provider twitter link">{{twitter_link}}</div>
        </div>
        <div class="input-field col s6">
            <div id="provider-fb-link" class="text-label" data-message="Provider twitter link">{{fb_link}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="provider-slug-url" class="text-label" data-message="Provider slug url">{{slug_url}}</div>
        </div>
        <div class="input-field col s6">
            {{#active}}
            <div class="provider-active-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> Active </span>
            </div>
            {{/active}} {{^active}}
            <div class="provider-non-active-label">
                <span> STANDARD TAG </span>
            </div>
            {{/active}}
        </div>
    </div>
    <div class="row mtop2 mtop">
        <div class="col s12 center mtop2">
            <div class="btn btn-outline btn-orange provider-edit-button pointer hyperlink" data-url="/provider/{{provider_id}}/edit">EDIT</div>
            <div class="btn btn-outline btn-warning provider-form-approve pointer p-hidden">APPROVE</div>
            <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
        </div>
    </div>
</div>
