<div class="provider-edit-form">
    <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/provider/">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
        <span class="add-text">Manage providers</span>
    </div>
    <div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/provider/new">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
        <span class="add-text">Add Another</span>
    </div>
    <div class="heading center">
        Edit {{id}}
    </div>
    <div class="row">
        <form class="col s12">
            <div class="row" mtop>
                <div class="input-field col s6">
                    <input id="provider-name" type="text" class="" value="{{name}}">
                    <label for="provider-name" class="active" >Provider name</label>
                </div>
                <div class="input-field col s6">
                    <input id="provider-display-name" type="text" class="" value="{{display_name}}">
                    <label for="provider-display-name" class="active">Display name</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input type="date" class="datepicker" data-value="{{campaign_start}}" id="provider-campaign-start" />
                    <label for="provider-campaign-start" class="active">Campaign start date</label>
                </div>
                <div class="input-field col s6">
                    <input type="date" class="datepicker" data-value="{{campaign_end}}" id="provider-campaign-end" />
                    <label for="provider-campaign-end" class="active">Campaign end date</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="provider-twitter-link" type="text" class="" value="{{twitter_link}}">
                    <label for="provider-twitter-link" class="active">Provider twitter link</label>
                </div>
                <div class="input-field col s6">
                    <input id="provider-fb-link" type="text" class="" value="{{fb_link}}">
                    <label for="provider-fb-link" class="active">Provider facebook link</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="provider-slug-url" type="text" class="" value="{{slug_url}}" autocomplete="off">
                    <label for="provider-slug-url" class="active">Provider slug url</label>
                    <span class="suffix p-hidden slug-unavailable">
                        <i class="tiny material-icons">info_outline</i>
                        <div class="slug-error">Url already taken :(</div>
                    </span>
                    <span class="suffix p-hidden slug-available">
                        <i class="tiny material-icons">done</i>
                        <div class="generated-slug" ></div>
                    </span>
                </div>
                <div class="input-field col s6">
                    <input type="checkbox" id="provider-active" />
                    <label for="provider-active">Active</label>
                </div>
            </div>
            <div class="row mtop3">
                <div class="col s12 center mtop2">
                    <div class="btn btn-outline btn-success provider-form-update pointer">UPDATE</div>
                    <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
                </div>
            </div>
        </form>
    </div>
</div>