<div class="raw-content-form">
    <div class="heading center">
        Add new raw content
    </div>
    <div id="file-explorer-modal" class="modal">
    </div>
    <div class="modal-trigger hidden s3-explorer" href="#file-explorer-modal">click</div>
    <div class="row">
        <form class="col s12">
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="raw-content-name" type="text" class="">
                    <label for="raw-content-name">Content name</label>
                </div>
                <div class="input-field col s6">
                    <select id="content-type">
                        <option value="" disabled selected >Choose media type</option>
                        <option value="audio">Audio</option>
                        <option value="video">Video</option>
                    </select>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s12 media-source-input">
                    <center>
                        <div class="btn btn-outline btn-orange mbot2 pointer s3-explorer-trigger">Add from S3</div>
                    </center>
                    <textarea id="media-source" placeholder="add url or drop file" class="mtop2" rows="10"></textarea>
                </div>
                <div class="input-field col s12 p-hidden media-source-info">
                    <div class="btn media-source-type inline-block"></div>
                    <div class="media-source-name inline-block" style="color:#388e3c"></div>
                    <div class="remove-media-source pointer pointer" data-hint="remove this source"><span class="glyphicon glyphicon-remove" style="color: #222" aria-hidden="true"></span></div>
                </div>
            </div>
            <div class="row mtop">
                <div class="col s12 upload-status-wrapper p-hidden">
                <div id="upload-ratio" class="inline-block" style="float:left;">Unknown</div>
                <div id="upload-time" class="inline-block" style="float:right;">Time remaining: N/A</div>
                    <div id="upload-status" class=" btn btn-info" style="width:0%; clear: both; display: block !important;" >0%</div>
                </div>
            </div>
            <div class="row mtop3">
                <div class="col s12 center mtop2">
                    <div class="btn btn-outline btn-success new-raw-content-form-submit pointer">SAVE</div>
                    <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
                </div>
            </div>
        </form>
    </div>
</div>