<div class="heading center">
    Manage sponsors
</div>
<div class="add-new right  btn btn-outline btn-primary hyperlink" data-url="/sponsor/new">
    <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
    <span class="add-text">Add</span>
</div>
<div class="manage-button left sponsor-table-refresh-button left mbot">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
</div>
<div class="btn btn-orange btn-outline sponsor-fetch-retry fetch-retry pointer p-hidden">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> RETRY
</div>
<table id="sponsor-list" class="table table-striped table-bordered ammo-table p-hidden" cellspacing="0" width="100%"></table>