<div class="sponsor-form p-hidden">
    <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/sponsor/">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
        <span class="add-text">Manage sponsors</span>
    </div>
    <div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/sponsor/new">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
        <span class="add-text">Add Another</span>
    </div>
    <div class="heading center">
        Edit {{sponsor_id}}
    </div>
    <div id="cover-add-modal" class="modal">
    </div>
    <div id="logo-add-modal" class="modal">
    </div>
    <div id="sponsor-image-add-modal" class="modal">
    </div>
    <div id="splash-add-modal" class="modal">
    </div>
    <div id="preroll-add-modal" class="modal">
    </div>
    <div id="image-ad-add-modal" class="modal">
    </div>
    <div id="preroll-add-modal-template" class="modal">
    </div>
    <div id="splash-add-modal-template" class="modal">
    </div>
    <div id="image-ad-add-modal-template" class="modal">
    </div>
    <div class="row">
        <form class="col s12">
            <div class="row mtop2">
                <div class="col s12 center">
                    <div class="p-hidden new-sponsor-cover-thumbnail-container mr">
                        <img src="" alt="" class="card responsive-img cover-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer sponsor-cover-control" href="#cover-add-modal">Add Cover</div>
                </div>
            </div>
            <div class="row mtop">
                <div class="col s12 center">
                    <div class="p-hidden new-sponsor-logo-thumbnail-container mr">
                        <img src="" alt="" class="card responsive-img logo-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer sponsor-logo-control" href="#logo-add-modal">Add Logo</div>
                </div>
            </div>
            <div class="row" mtop>
                <div class="input-field col s6">
                    <input id="sponsor-name" type="text" class="" value="{{sponsor_name}}">
                    <label for="sponsor-name" class="active">Sponsor name</label>
                </div>
                <div class="input-field col s6">
                    <input id="sponsor-url" type="text" class="" value="{{sponsor_url}}">
                    <label for="sponsor-url" class="active">URL</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="col s6">
                    <input type="checkbox" id="sponsor-apps-download" />
                    <label for="sponsor-apps-download">Apps download</label>
                </div>
                <div class="col s6">
                    <input type="checkbox" id="sponsor-status" />
                    <label for="sponsor-status">Sponsor status</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <div class="p-hidden new-sponsor-image-thumbnail-container mr">
                        <img src="" alt="" class="card responsive-img sponsor-image-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer sponsor-image-control" href="#sponsor-image-add-modal">Add Image</div>
                </div>
                <div class="input-field col s6">
                    <input id="sponsor-tagline" type="text" class="" value="{{sponsor_app_tagline}}">
                    <label for="sponsor-tagline" class="active">App tagline</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="sponsor-package-android" type="text" class="" value="{{sponsor_app_identifier_android}}">
                    <label for="sponsor-package-android" class="active">Android App identifier</label>
                </div>
                <div class="input-field col s6">
                    <input id="sponsor-app-url-android" type="text" class="" value="{{sponsor_app_url_android}}">
                    <label for="sponsor-app-url-android" class="active">Android App url</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="sponsor-package-ios" type="text" class="" value="{{sponsor_app_identifier_ios}}">
                    <label for="sponsor-package-ios" class="active">Ios App identifier</label>
                </div>
                <div class="input-field col s6">
                    <input id="sponsor-app-url-ios" type="text" class="" value="{{sponsor_app_url_ios}}">
                    <label for="sponsor-app-url-ios" class="active">Ios App url</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="sponsor-desc-large" type="text" class="" value="{{sponsor_desc_large}}">
                    <label for="sponsor-desc-large" class="active">App description(detailed)</label>
                </div>
                <div class="input-field col s6">
                    <input id="sponsor-desc-small" type="text" class="" value="{{sponsor_desc_small}}">
                    <label for="sponsor-desc-small" class="active">App description(small)</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="sponsor-twitter-link" type="text" class="" value="{{twitter_link}}">
                    <label for="sponsor-twitter-link" class="active">Sponsor twitter link</label>
                </div>
                <div class="input-field col s6">
                    <input id="sponsor-fb-link" type="text" class="" value="{{fb_link}}">
                    <label for="sponsor-fb-link" class="active">Sponsor facebook link</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="sponsor-slug-url" type="text" class="" value="{{slug_url}}" autocomplete="off">
                    <label for="sponsor-slug-url" class="active">Sponsor slug url</label>
                    <span class="suffix p-hidden slug-unavailable">
                        <i class="tiny material-icons">info_outline</i>
                        <div class="slug-error">Url already taken :(</div>
                    </span>
                    <span class="suffix p-hidden slug-available">
                        <i class="tiny material-icons">done</i>
                        <div class="generated-slug" ></div>
                    </span>
                </div>
                <div class="col s6">
                    <input type="checkbox" id="sponsor-is-global" />
                    <label for="sponsor-is-global">Is global</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="col s6">
                    <div class="sponsor-splash-item base-template mbot p-hidden">
                        <div class="btn btn-outline btn-primary new-sponsor-splash pointer inline-block modal-trigger" href="#splash-add-modal">upload splash</div>
                        <div class="inline-block sponsor-splash-name"></div>
                    </div>
                    <div class="mtop2 btn btn-primary btn-outline btn-circle hint--right hint--always splash-add-button block pointer" data-hint="add another splash">+</div>
                </div>
                <div class="col s6">
                    <div class="sponsor-preroll-item base-template mbot p-hidden">
                        <div class="btn btn-outline btn-primary new-sponsor-preroll pointer inline-block modal-trigger" href="#preroll-add-modal">upload preroll</div>
                        <div class="inline-block sponsor-preroll-name"></div>
                    </div>
                    <div class="mtop2 btn btn-primary btn-outline btn-circle hint--right hint--always preroll-add-button block pointer" data-hint="add another preroll">+</div>
                </div>
            </div>
            <div class="row mtop">
                <div class="col s6">
                    <div class="sponsor-image-ad-item base-template mbot p-hidden">
                        <div class="btn btn-outline btn-primary new-sponsor-image-ad pointer inline-block modal-trigger" href="#image-ad-add-modal">upload image ad</div>
                        <div class="inline-block sponsor-image-ad-name"></div>
                    </div>
                    <div class="mtop2 btn btn-primary btn-outline btn-circle hint--right hint--always image-ad-add-button block pointer" data-hint="add another image ad">+</div>
                </div>
                <div class="col s6">
                    <div class="btn btn-outline btn-orange edit-sponsor-apk-package pointer inline-block" >Upload apk package</div>
                    <div class="edit-sponsor-apk-package-name inline-block"></div>
                    <input type="file" class="edit-sponsor-apk-package-input hidden" accept=".apk" ></input>
                </div>
            </div>
            <div class="row mtop3">
                <div class="col s12 center mtop2">
                    <div class="btn btn-outline btn-success sponsor-form-update pointer">update</div>
                    <div class="btn btn-outline btn-warninng sponsor-form-approve pointer p-hidden">APPROVE</div>
                    <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
                </div>
            </div>
        </form>
    </div>
</div>
