<div class="modal splash-display-modal" id="splash-display-modal-test">
    <div class="h2 mbot0 ml2 video-preloader-container">Sponsor Splash</div>
    <div class="modal-close">CLOSE</div>
    <div class="p-modal-content">
        <div class="video-preview center card">
            <video class="" id="video-player" controls width="400" height="300">
            </video>
        </div>
    </div>
</div>
<div class="modal preroll-display-modal" id="preroll-display-modal-test">
    <div class="h2 mbot0 ml2 video-preloader-container">Sponsor Preroll</div>
    <div class="modal-close">CLOSE</div>
    <div class="p-modal-content">
        <div class="video-preview center card">
            <video class="" id="video-player" controls width="400" height="300">
            </video>
        </div>
    </div>
</div>
<div class="sponsor-info-container p-hidden">
    <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/sponsor/">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
        <span class="add-text">Manage sponsors</span>
    </div>
    <div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/sponsor/new">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
        <span class="add-text">Add Another</span>
    </div>
    <div class="heading center">
        {{sponsor_name}}
    </div>
    <div class="row mtop2">
        <div class="col s12 center">
            <div class="sponsor-cover-thumbnail-container mr">
                <img src="" alt="" class="card responsive-img cover-thumbnail" >
            </div>
            <div class="p-hidden cover-alt-text blank-label">NO COVER ADDED</div>
        </div>
    </div>
    <div class="row mtop2">
        <div class="col s12 center">
            <div class="sponsor-logo-thumbnail-container mr">
                <img src="" alt="" class="card responsive-img logo-thumbnail" style="width:200px">
            </div>
            <div class="p-hidden logo-alt-text blank-label">NO LOGO ADDED</div>
        </div>
    </div>
    <div class="row" mtop>
        <div class="input-field col s6">
            <div id="sponsor_id" class="text-label" style="text-transform:lowercase" data-message="content id">{{sponsor_id}}</div>
        </div>
        <div class="input-field col s6">
            <div id="sponsor-url" class="text-label" data-message="Sponsor url">{{sponsor_url}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            {{#sponsor_status}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> ACTIVE </span>
            </div>
            {{/sponsor_status}} {{^sponsor_status}}
            <div class="non-premium-label">
                <span> NON ACTIVE </span>
            </div>
            {{/sponsor_status}}
        </div>
        <div class="input-field col s6">
            {{#apps_download}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> APP INCLUDED </span>
            </div>
            {{/apps_download}} {{^apps_download}}
            <div class="non-premium-label">
                <span> NO APP </span>
            </div>
            {{/apps_download}}
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div class="sponsor-image-thumbnail-container mr">
                <img src="" alt="" class="card responsive-img image-thumbnail" style="width:200px">
            </div>
            <div class="image-desc blank-label">SIDE DRAWER IMAGE</div>
            <div class="p-hidden image-alt-text blank-label">No image added</div>
        </div>
        <div class="input-field col s6">
            <div id="sponsor-app-tagline" class="text-label" data-message="app tagline">{{sponsor_app_tagline}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="sponsor-app-identifier-android" class="text-label" data-message="Android app identifier">{{sponsor_app_identifier_android}}</div>
        </div>
        <div class="input-field col s6">
            <div id="sponsor-url-android" class="text-label" data-message="Android app playstore url">{{sponsor_app_url_android}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="sponsor-app-identifier-ios" class="text-label" data-message="Ios app identifier">{{sponsor_app_identifier_ios}}</div>
        </div>
        <div class="input-field col s6">
            <div id="sponsor-url-ios" class="text-label" data-message="Ios app playstore url">{{sponsor_app_url_ios}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="sponsor-desc-large" class="text-label" data-message="detailed description">{{sponsor_desc_large}}</div>
        </div>
        <div class="input-field col s6">
            <div id="sponsor-desc-small" class="text-label" data-message="brief description">{{sponsor_desc_small}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="sponsor-twitter-link" class="text-label" data-message="Sponsor twitter link">{{twitter_link}}</div>
        </div>
        <div class="input-field col s6">
            <div id="sponsor-fb-link" class="text-label" data-message="Sponsor twitter link">{{fb_link}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="sponsor-slug-url" class="text-label" data-message="Sponsor slug url">{{slug_url}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            {{#apk_available}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> APK AVAILABLE </span>
            </div>
            {{/apk_available}} {{^apk_available}}
            <div class="non-premium-label">
                <span> NO APK AVAILABLE </span>
            </div>
            {{/apk_available}}
        </div>
        <div class="input-field col s6">
            {{#is_global}}
            <div class="premium-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> Global sponsor </span>
            </div>
            {{/is_global}} {{^is_global}}
            <div class="non-premium-label">
                <span> Normal sponsor </span>
            </div>
            {{/is_global}}
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6 splash-button-container">
            <div class=" btn btn-primary btn-outline modal-trigger pointer splash-view-control-template p-hidden mbot" href="" style="width: 120px"><span class="glyphicon glyphicon-refresh video-load" aria-hidden="true"></span> Loading</div>
            <div class="p-hidden splash-alt-text blank-label">No splash added</div>
        </div>
        <div class="input-field col s6 preroll-button-container">
            <div class=" btn btn-primary btn-outline modal-trigger pointer preroll-view-control-template p-hidden mbot" href="" style="width:120px"><span class="glyphicon glyphicon-refresh video-load" aria-hidden="true"></span> Loading</div>
            <div class="p-hidden preroll-alt-text blank-label">No preroll added</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="col s6 image-ad-container-template p-hidden">
            <img src="" alt="" class="card responsive-img image-ad block" style="width:200px">
            <div class="image-ad-name inline-block"></div> <span class="image-ad-badge"> Image ad</span>
        </div>
        <div class="image-ad-alt-text p-hidden bold"><u>No Image ads for this sponsor</u></div>
    </div>
    <div class="row mtop2 mtop">
        <div class="col s12 center mtop2">
            <div class="btn btn-outline btn-orange sponsor-edit-button pointer hyperlink" data-url="/sponsor/{{sponsor_id}}/edit">EDIT</div>
            <div class="btn btn-outline btn-warning sponsor-form-approve pointer p-hidden">APPROVE</div>
            <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
        </div>
    </div>
</div>
