<div class="tag-form p-hidden">
    <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/tag/">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
        <span class="add-text">Manage tags</span>
    </div>
    <div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/tag/new">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
        <span class="add-text">Add Another</span>
    </div>
    <div class="heading center">
        Edit {{id}}
    </div>
    <div id="cover-add-modal" class="modal">
    </div>
    <div id="icon-add-modal" class="modal">
    </div>
    <div id="poster-add-modal" class="modal">
    </div>
    <div class="row">
        <form class="col s12">
            <div class="row mtop2">
                <div class="col s12 center">
                    <div class="p-hidden tag-cover-thumbnail-container mr">
                        <img src="" alt="" class="card responsive-img cover-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer tag-cover-control" href="#cover-add-modal">Add cover</div>
                </div>
            </div>
            <div class="row mtop">
                <div class="col s6 center">
                    <div class="p-hidden tag-icon-thumbnail-container mr">
                        <img src="" alt="" class="card responsive-img icon-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer tag-icon-control" href="#icon-add-modal">Add icon</div>
                </div>
                <div class="col s6 center">
                    <div class="p-hidden tag-poster-thumbnail-container mr">
                        <img src="" alt="" class="card responsive-img poster-thumbnail">
                    </div>
                    <div class=" btn btn-primary btn-outline modal-trigger pointer tag-poster-control" href="#poster-add-modal">Add poster</div>
                </div>
            </div>
            <div class="row" mtop>
                <div class="input-field col s6">
                    <input id="tag-name" type="text" autocomplete="off" value="{{name}}">
                    <label for="tag-name" class="active">Tag name</label>
                    <span class="suffix p-hidden slug-available">
                        <div class="generated-slug" ></div>
                    </span>
                </div>
                <div class="input-field col s6">
                    <input id="tag-display-name" type="text" value="{{display_name}}">
                    <label for="tag-display-name" class="active">Display name</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="tag-description" type="text" value="{{description}}">
                    <label for="tag-description" class="active">Long Description</label>
                </div>
                <div class="input-field col s6">
                    <input id="tag-short-description" class="length-field" type="text" value="{{short_description}}" length="170" />
                    <label for="tag-short-description" class="active">Short description</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input id="tag-tagline" type="text" value="{{tagline}}">
                    <label for="tag-tagline" class="active">Tagline</label>
                </div>
                <div class="input-field col s6">
                    <input id="tag-seo" type="text" value="{{seo}}" class="length-field" length="160">
                    <label for="tag-seo" class="active">Seo</label>
                </div>
            </div>
            <div class="row mtop">
                <div class="input-field col s6">
                    <input type="checkbox" id="tag-show-title" />
                    <label for="tag-show-title">Show title</label>
                </div>
                <div class="input-field col s6">
                    <input type="checkbox" id="tag-collection" />
                    <label for="tag-collection">Make collection</label>
                </div>
            </div>
            <div class="row mtop3">
                <div class="col s12 center mtop2">
                    <div class="btn btn-outline btn-success tag-form-update pointer">UPDATE</div>
                    <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
                    <div class="btn btn-outline btn-warninng tag-form-approve pointer p-hidden">APPROVE</div>
                </div>
            </div>
        </form>
    </div>
</div>