<div class="heading center">
    Manage tags
</div>
<div class="add-new right  btn btn-outline btn-primary hyperlink" data-url="/tag/new">
    <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
    <span class="add-text">Add</span>
</div>
<div class="manage-button left tag-table-refresh-button left mbot">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
</div>

<div class="btn btn-orange btn-outline tag-fetch-retry fetch-retry pointer p-hidden">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> RETRY
</div>
<table id="tag-list" class="table table-striped table-bordered ammo-table p-hidden" cellspacing="0" width="100%"></table>