<div class="tag-info-container p-hidden">
    <div class="manage-button left mbot  btn btn-outline btn-primary hyperlink" data-url="/tag/">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
        <span class="add-text">Manage tag</span>
    </div>
    <div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/tag/new">
        <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
        <span class="add-text">Add Another</span>
    </div>
    <div class="heading center">
        {{tag_name}}
    </div>
    <div class="row mtop2">
        <div class="col s12 center">
            <div class="tag-cover-thumbnail-container mr ">
                <img src="" alt="" class="card responsive-img cover-thumbnail" >
            </div>
            <div class="p-hidden cover-alt-text blank-label ">NO COVER ADDED</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="col s6 center">
            <div class="tag-icon-thumbnail-container mr ">
                <img src="" alt="" class="card responsive-img icon-thumbnail" style="width:200px">
            </div>
            <div class="p-hidden icon-alt-text blank-label">NO ICON ADDED</div>
        </div>
        <div class="col s6 center">
            <div class="tag-poster-thumbnail-container mr">
                <img src="" alt="" class="card responsive-img poster-thumbnail" style="width:200px">
            </div>
            <div class="p-hidden poster-alt-text blank-label">NO POSTER ADDED</div>
        </div>
    </div>
    <div class="row" mtop>
        <div class="input-field col s6">
            <div id="content_id" class="text-label" style="text-transform:lowercase" data-message="content id">{{tag_id}}</div>
        </div>
        <div class="input-field col s6">
            <div id="tag-display-name" class="text-label" data-message="Tag display name">{{tag_display_name}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="tag-description" class="text-label" data-message="Tag long description">{{tag_description}}</div>
        </div>
        <div class="input-field col s6">
            <div id="tag-short-description" class="text-label" data-message="Tag short description">{{tag_short_description}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            <div id="tag-tagline" class="text-label" data-message="Tag tagline">{{tagline}}</div>
        </div>
        <div class="input-field col s6">
            <div id="tag-seo" class="text-label" data-message="Seo">{{seo}}</div>
        </div>
    </div>
    <div class="row mtop">
        <div class="input-field col s6">
            {{#show_title}}
            <div class="collection-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> Title shown </span>
            </div>
            {{/show_title}} {{^show_title}}
            <div class="non-collection-label">
                <span> Title hidden </span>
            </div>
            {{/show_title}}
        </div>
        <div class="input-field col s6">
            {{#collection}}
            <div class="collection-label">
                <i class="material-icons small" style="font-size: 1.4em; top: 3px; position: relative;">star</i>
                <span> COLLECTION </span>
            </div>
            {{/collection}} {{^collection}}
            <div class="non-collection-label">
                <span> STANDARD TAG </span>
            </div>
            {{/collection}}
        </div>
    </div>
    <div class="row mtop2 mtop">
        <div class="col s12 center mtop2">
            <div class="btn btn-outline btn-orange tag-edit-button pointer hyperlink" data-url="/tag/{{tag_id}}/edit">EDIT</div>
            <div class="btn btn-outline btn-warning tag-form-approve pointer p-hidden">APPROVE</div>
            <div class="inline-block submit-indicator" style="top: 10px;position: relative;"></div>
        </div>
    </div>
</div>
