<div class="row mtop trailer-processing-field">
    <div class="input-field col s6">
        {{#trailer-added}} 
            {{#preview-available}}
                <div class="btn btn-primary btn-outline media-previewer pointer" data-type="{{trailer_type}}" data-name="{{trailer_name}}" data-link="{{trailer_link}}">Preview Trailer-{{trailer_number}}</div>
            {{/preview-available}} 
            {{^preview-available}}
                <div class="non-premium-label">
                    <span> Trailer link generation in process </span>
                </div>
            {{/preview-available}} 
        {{/trailer-added}}                    
        {{^trailer-added}}
            <div class="non-premium-label">
                <span> No trailer added </span>
            </div>
        {{/trailer-added}}
    </div>
    <div class="input-field col s6">
        {{#trailer-processed}}
        <div class="btn btn-success ">Trailer processing complete</div>
        {{/trailer-processed}} {{^trailer-processed}}
        <div class="btn btn-warning ">Trailer processing pending</div>
        {{/trailer-processed}}
    </div>
</div>