<div class="heading center">
    Manage versions
</div>
<div href="#version-publish-modal" id="version-publish-modal-click" class="modal-trigger hidden">
</div>
<div id="version-publish-modal" class="version-publish-modal modal">
</div>
<div id="current-version-button" class="current-version right mbot  btn btn-outline btn-primary hyperlink" data-url="">
    <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;"></span>
    <span class="current-version-text">Current version</span>
</div>
<div class="add-new right mbot  btn btn-outline btn-primary hyperlink" data-url="/version/new">
    <span style="font-weight: 700; font-size: 1.3em; margin-right:2px;">+</span>
    <span class="add-text">Add</span>
</div>
<div class="manage-button left version-table-refresh-button left mbot">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
</div>
<div class="btn btn-orange btn-outline version-fetch-retry fetch-retry pointer p-hidden">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> RETRY
</div>
<table id="version-list" class="table table-striped table-bordered ammo-table p-hidden" cellspacing="0" width="100%"></table>
