<div class="h2 mbot0 ml2 video-preloader-container">{{title}}</div>
<div class="modal-close">CLOSE</div>
<div class="p-modal-content">
    <div class="video-input-section">
        <center>
            <div class="btn btn-orange btn-outline video-selector pointer">Select Video</div>
        </center>
        <div class="or-text">OR</div>
        <div class="dnd-area"> <span class="dnd-text">Drop your files on this window</span></div>
    </div>
    <input type="file" class="hidden video-file-input" accept="video/*">
    <div class="video-info p-hidden">
        <div class="center poster-toolbar mbot">
            <div class="btn btn-danger btn-outline video-undo pointer">REMOVE</div>
        </div>
        <div class="video-preview p-hidden center card">
            <video class="" id="video-player" controls width="400" height="300">
            </video>
        </div>
    </div>
</div>