/* GRID framework */

/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

[class*='col-']{
  display: block;
  float:left;
 /* padding-right: 20px;*/
  margin: 1% 0 1% 1.6%;
  box-sizing: border-box;
}

[class*='col-']:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*[class*='col-'] {
  float: left;
  padding-right: 20px; 
}*/

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
  [class*='col-']{
    margin: 0px;
  }
}
@media only screen and (max-width: 768px) {
  [class*='col-']{
    margin: 0px;
  }
}
/* Col grids */
/*  GRID OF TWELVE   ============================================================================= */

.col-12-12 {
  width: 100%;
}

.col-11-12 {
  width: 91.53%;
}

.col-10-12 {
  width: 83.06%;
}

.col-9-12 {
  width: 74.6%;
}

.col-8-12 {
  width: 66.13%;
}

.col-7-12 {
  width: 57.66%; 
}

.col-6-12 {
  width: 49.2%; 
}

.col-5-12 {
  width: 40.73%; 
}

.col-4-12 {
  width: 32.26%; 
}

.col-3-12 {
  width: 23.8%;
}

.col-2-12 {
  width: 15.33%; 
}

.col-1-12 {
  width: 6.86%; 
}

/*  GRID OF ELEVEN   ============================================================================= */

.col-11-11 {
  width: 100%;
}

.col-10-11 {
  width: 90.76%;
}

.col-9-11 {
  width: 81.52%;
}

.col-8-11 {
  width: 72.29%;
}

.col-7-11 {
  width: 63.05%; 
}

.col-6-11 {
  width: 53.81%; 
}

.col-5-11 {
  width: 44.58%; 
}

.col-4-11 {
  width: 35.34%; 
}

.col-3-11 {
  width: 26.1%;
}

.col-2-11 {
  width: 16.87%; 
}

.col-1-11 {
  width: 7.63%; 
}


.col-10-10 {
  width: 100%;
}

.col-9-10 {
  width: 89.84%;
}

.col-8-10 {
  width: 79.68%;
}

.col-7-10 {
  width: 69.52%; 
}

.col-6-10 {
  width: 59.36%; 
}

.col-5-10 {
  width: 49.2%; 
}

.col-4-10 {
  width: 39.04%; 
}

.col-3-10 {
  width: 28.88%;
}

.col-2-10 {
  width: 18.72%; 
}

.col-1-10 {
  width: 8.56%; 
}

.col-9-9 {
  width: 100%;
}

.col-8-9 {
  width: 88.71%;
}

.col-7-9 {
  width: 77.42%; 
}

.col-6-9 {
  width: 66.13%; 
}

.col-5-9 {
  width: 54.84%; 
}

.col-4-9 {
  width: 43.55%; 
}

.col-3-9 {
  width: 32.26%;
}

.col-2-9 {
  width: 20.97%; 
}

.col-1-9 {
  width: 9.68%; 
}

.col-8-8 {
  width: 100%;
}

.col-7-8 {
  width: 87.3%; 
}

.col-6-8 {
  width: 74.6%; 
}

.col-5-8 {
  width: 61.9%; 
}

.col-4-8 {
  width: 49.2%; 
}

.col-3-8 {
  width: 36.5%;
}

.col-2-8 {
  width: 23.8%; 
}

.col-1-8 {
  width: 11.1%; 
}
.col-7-7 {
  width: 100%;
}

.col-6-7 {
  width: 85.48%;
}

.col-5-7 {
    width: 70.97%;
}

.col-4-7 {
    width: 56.45%;
}

.col-3-7 {
    width: 41.94%;
}

.col-2-7 {
    width: 27.42%;
}

.col-1-7 {
    width: 12.91%;
}

.col-6-6 {
  width: 100%;
}

.col-5-6 {
    width: 83.06%;
}

.col-4-6 {
    width: 66.13%;
}

.col-3-6 {
    width: 49.2%;
}

.col-2-6 {
    width: 32.26%;
}

.col-1-6 {
    width: 15.33%;
}

.col-5-5 {
  width: 100%;
}

.col-4-5 {
    width: 79.68%; 
}

.col-3-5 {
    width: 59.36%; 
}

.col-2-5 {
    width: 39.04%;
}

.col-1-5 {
    width: 18.72%;
}

.col-4-4 {
  width: 100%; 
}

.col-3-4 {
  width: 74.6%; 
}

.col-2-4 {
  width: 49.2%; 
}

.col-1-4 {
  width: 23.8%; 
}

.col-3-3 {
  width: 100%; 
}

.col-2-3 {
  width: 66.13%; 
}

.col-1-3 {
  width: 32.26%; 
}
.col-2-2 {
  width: 100%;
}

.col-1-2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 48em) {
  .col-12-12 {
    width: 100%; 
  }
  .col-11-12 {
    width: 100%; 
  }
  .col-10-12 {
    width: 100%; 
  }
  .col-9-12 {
    width: 100%; 
  }
  .col-8-12 {
    width: 100%; 
  }
  .col-7-12 {
    width: 100%; 
  }
  .col-6-12 {
    width: 100%; 
  }
  .col-5-12 {
    width: 100%; 
  }
  .col-4-12 {
    width: 100%; 
  }
  .col-3-12 {
    width: 100%; 
  }
  .col-2-12 {
    width: 100%; 
  }
  .col-1-12 {
    width: 100%; 
  }
  .col-11-11 {
    width: 100%; 
  }
  .col-10-11 {
    width: 100%; 
  }
  .col-9-11 {
    width: 100%; 
  }
  .col-8-11 {
    width: 100%; 
  }
  .col-7-11 {
    width: 100%; 
  }
  .col-6-11 {
    width: 100%; 
  }
  .col-5-11 {
    width: 100%; 
  }
  .col-4-11 {
    width: 100%; 
  }
  .col-3-11 {
    width: 100%; 
  }
  .col-2-11 {
    width: 100%; 
  }
  .col-1-11 {
    width: 100%; 
  }

  .col-10-10 {
    width: 100%; 
  }
  .col-9-10 {
    width: 100%; 
  }
  .col-8-10 {
    width: 100%; 
  }
  .col-7-10 {
    width: 100%; 
  }
  .col-6-10 {
    width: 100%; 
  }
  .col-5-10 {
    width: 100%; 
  }
  .col-4-10 {
    width: 100%; 
  }
  .col-3-10 {
    width: 100%; 
  }
  .col-2-10 {
    width: 100%; 
  }
  .col-1-10 {
    width: 100%; 
  }

  .col-9-9 {
    width: 100%; 
  }
  .col-8-9 {
    width: 100%; 
  }
  .col-7-9 {
    width: 100%; 
  }
  .col-6-9 {
    width: 100%; 
  }
  .col-5-9 {
    width: 100%; 
  }
  .col-4-9 {
    width: 100%; 
  }
  .col-3-9 {
    width: 100%; 
  }
  .col-2-9 {
    width: 100%; 
  }
  .col-1-9 {
    width: 100%; 
  }
  .col-8-8 {
    width: 100%; 
  }
  .col-7-8 {
    width: 100%; 
  }
  .col-6-8 {
    width: 100%; 
  }
  .col-5-8 {
    width: 100%; 
  }
  .col-4-8 {
    width: 100%; 
  }
  .col-3-8 {
    width: 100%; 
  }
  .col-2-8 {
    width: 100%; 
  }
  .col-1-8 {
    width: 100%; 
  }
  .col-7-7 {
    width: 100%; 
  }
  .col-6-7 {
    width: 100%; 
  }
  .col-5-7 {
    width: 100%; 
  }
  .col-4-7 {
    width: 100%; 
  }
  .col-3-7 {
    width: 100%; 
  }
  .col-2-7 {
    width: 100%; 
  }
  .col-1-7 {
    width: 100%; 
  }
  .col-6-6 {
    width: 100%; 
  }
  .col-5-6 {
    width: 100%; 
  }
  .col-4-6 {
    width: 100%; 
  }
  .col-3-6 {
    width: 100%; 
  }
  .col-2-6 {
    width: 100%; 
  }
  .col-1-6 {
    width: 100%; 
  }
  .col-5-5 {
    width: 100%; 
  }
  .col-4-5 {
    width: 100%; 
  }
  .col-3-5 {
    width: 100%; 
  }
  .col-2-5 {
    width: 100%; 
  }
  .col-1-5 {
    width: 100%; 
  }
  .col-4-4 {
    width: 100%; 
  }
  .col-3-4 {
    width: 100%; 
  }
  .col-2-4 {
    width: 100%; 
  }
  .col-1-4 {
    width: 100%; 
  }
  .col-3-3 {
    width: 100%; 
  }
  .col-2-3 {
    width: 100%; 
  }
  .col-1-3 {
    width: 100%;
  }
  .col-2-2 {
    width: 100%; 
  }
  .col-1-2 {
    width: 100%; 
  }

}



