/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */


/* load google fonts */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto:400,100);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow|Pathway+Gothic+One|Oswald:400,300,700);

/* font aswesome */

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css);
@font-face {
    font-family: 'msp_text';
    src: url('/static/fonts/msp_text.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'msp_thin';
    src: url('/static/fonts/msp_thin.ttf');
    font-weight: normal;
    font-style: normal;
}


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #444;
}

html {
    font-size: 1em;
    line-height: 1.4;
}


/* assigning body 100% height */

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'msp_text', 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* custom styling */

.wrapper {
    /* height : 100%; */
}

.full-height {
    height: 100%;
}

.min-full-height {
    min-height: 100%;
}


/*colors*/

.p-red {
    color: #D14747;
}

.p-red-bg {
    background-color: #D14747;
}

.p-red1 {
    color: #Ea5252;
}

.red1-bg {
    background-color: #Ea5252;
}

.p-white {
    color: #F1F1F1;
}

.white-bg {
    background-color: #F1F1F1;
}

.blue-bg {
    background-color: #1B2347;
}

.p-blue {
    color: #1B2347;
}

.dark-blue {
    color: #2E5EAA;
}

.grey-bg {
    background-color: #ECEAEE;
}

.inline-block {
    display: inline-block;
}

.mtop {
    margin-top: 10px;
}

.mtop2 {
    margin-top: 20px;
}

.mtop3 {
    margin-top: 30px;
}

.mtop5 {
    margin-top: 50px;
}

.mtop7 {
    margin-top: 70px;
}

.w80 {
    width: 80%;
}

.border-top {
    border-top: thin solid #cdcdcd;
}

.mbot {
    margin-bottom: 10px;
}

.mbot0 {
    margin-bottom: 0px !important;
}

.ml {
    margin-left: 10px;
}

.ml2 {
    margin-left: 20px;
}

.ml5 {
    margin-left: 50px;
}

.mr {
    margin-right: 10px;
}

.mr2 {
    margin-right: 20px;
}

.mr3 {
    margin-right: 30px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.both {
    clear: both;
}

.pointer {
    cursor: pointer !important;
}

.capitalize {
    text-transform: capitalize;
}

.ellipsis {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}


/*
font sizes
 */

.f1 {
    font-size: 1em;
}

.f0 {
    font-size: 0.9em;
}

.header {
    height: 50px;
}

.footer {
    height: 40px;
    margin-bottom: -40px;
    line-height: 40px;
    color: #888;
}

.wrapper {
    min-height: calc(100% - 90px);
}

.center {
    text-align: center;
}

.p-hidden {
    display: none;
}

.p-circle {
    height: 75px !important;
    width: 75px !important;
    border-radius: 75px;
    border: thin solid #cdcdcd;
}

.modal-close {
    display: inline-block;
    position: fixed;
    top: 25px;
    right: 20px;
}

.logo {
    height: 50px;
    width: 185px;
    line-height: 50px;
    position: absolute;
    cursor: pointer;
}

.logo-img {
    padding-left: 5px;
}

.small-logo-img {
    display: none;
}

.header-text {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.3em;
    color: #555;
    font-family: 'Open Sans', sans-serif;
}

.loader-container {
    position: absolute;
    top: calc(50% - 70px);
    height: 130px;
    width: 100%;
}

.spin {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -33px;
    border: 6px solid #d7663a;
    border-radius: 50%;
}

.spin:before,
.spin:after {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    background-color: #d7663a;
    border-radius: 1.5px;
    transform-origin: 50% 0;
}

.spin:before {
    height: 40px;
    left: 41px;
    top: 50%;
    animation: spin 1500ms linear infinite;
}

.main-container {
    padding: 15px;
}

#signin-button {
    /*display: none;*/
    width: 130px;
    height: 48px;
    background-color: #376BE7;
    cursor: pointer;
    color: #FFF;
    margin: 0 auto;
}

.signin-button-container {
    position: absolute;
    top: calc(35% - 70px);
    width: 100%;
    height: auto;
    display: none;
}

.greeting-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: #aaa;
}

.glogo {
    width: 46px;
    margin-top: 1px;
    margin-left: 1px;
    float: left;
}

.ammunition-heading {
    font-size: 7em;
    font-family: 'Open Sans',sans-serif;
    /*font-weight: 100;*/
    color: #d7663a;
    margin-bottom: 50px;

}

.desc {
    display: inline-block;
    margin: 12px 0px 0px 12px;
    font-family: 'Open Sans', sans-serif;
}

.logout-button {
    float: right;
    text-transform: uppercase;
    color: #FFF;
    font-size: 0.8em;
    display: none;
    position: absolute;
    right: 8px;
    top: 11px;
    padding: 5px;
    background-color: #d7663a;
    font-family: 'msp_text', sans-serif;
    cursor: pointer;
}

.task-prompt {
    margin-top: 30px;
    font-family: 'msp_thin';
    color: #888;
    font-size: 3.3em;
    text-align: center;
}

.task-row {
    width: 600px;
    margin: 0 auto;
    clear: both;
    margin-bottom: 10px;
    position: relative;
}

.task-item {
    color: #2E5EAA;
    cursor: pointer;
    font-family: "msp_thin";
    font-size: 2em;
}

.task-item:hover {
    color: #444;
    transition: 0.4s ease;
}

.content-name {
    cursor: pointer;
    color: #2E5EAA;
}

.heading {
    font-size: 2.5em;
    color: #d7663a;
}

.header-text {
    cursor: pointer;
}

.header-text a {
    text-decoration: none;
    color: inherit;
}

.or-text {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #666;
    font-family: 'msp_thin';
    text-align: center;
}

.dnd-text {
    position: absolute;
    top: 40%;
    transform: translate(-50%);
    left: 50%;
    font-size: 2em;
    color: #aaa;
    font-family: "msp_thin";
    width: 80%;
}


/* ************ CUSTOM button styling **********/

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    cursor: default;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-grey.btn-outline {
    color: #888 !important;
    border-color: #888 !important;
}

.btn-orange.btn-outline {
    color: #d7663a;
    border-color: #d7663a;
}

.btn-orange.btn-outline:hover {
    background-color: #d7663a;
}

.btn-grey.btn-outline:hover {
    background-color: #888;
    color: #FFF !important;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover,
.btn-orange.btn-outline:hover,
.btn-grey.btn-outline:hover {
    color: #fff;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}


/* *********************************** */

.v-tbottom {
    vertical-align: text-bottom;
}

.full-center-align {
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

#content-list_wrapper {
    clear: both;
}

.add-new {
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 70px;
    right: 30px;
}

.manage-button {
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 70px;
}

.current-version {
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 70px;
    right: 100px;
}

.add-text,.current-version-text {
    margin-left: -2px;
}

.p-modal-content {
    padding: 24px;
    width: 100%;
}

.publish-modal-heading {

}

.poster-preview {
    position: relative;
    text-align: center;
}

.dnd-area {
    width: 100%;
    height: 100px;
    position: relative;
    text-align: center;
}

.input-field label {
    width: 80%;
}

.poster-thumbnail,.poster-small-thumbnail {
    width: 210px;
}

.icon-thumbnail,.icon-small-thumbnail,
.logo-thumbnail,
.poster-thumbnail,.poster-small-thumbnail {
    width: 200px;
}

input[type=search].form-control {
    height: 30px;
}

.fetch-retry {
    position: absolute;
    top: 50%;
    left: 50%;
}

.text-label {
    font-family: 'msp_thin';
    font-weight: 500;
    font-size: 1.5em;
    border-bottom: thin solid #1976d2;
    padding-bottom: 2px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #888;
    overflow: auto;
    white-space: nowrap;
}

.blank-label {
    font-family: 'msp_thin';
    font-weight: 500;
    font-size: 1.5em;
    text-transform: capitalize;
    color: #888;
}

.text-label::after {
    content: attr(data-message);
    color: #ef6c00;
    top: 36px;
    position: absolute;
    left: 13px;
    font-size: 0.6em;
}

/*hack for materialize provider select option*/
.dropdown-content
{
    max-height:300px !important;
}

.premium-label,
.collection-label,
.provider-active-label {
    display: inline;
    border: thin solid #ffc400;
    padding: 12px;
    background-color: #ffc400;
    color: #FFF;
}

.non-premium-label,
.non-collection-label,
.provider-non-active-label {
    display: inline;
    border: thin solid #666;
    padding: 12px;
    background-color: #666;
    color: #FFF;
}

.nexus-mock {
    width: 273px;
}

.phone-container {
    /*    position: relative;
    width: auto;
    margin: 0 auto;
    display: inline-block;
    left: 50%;
    top: 12px;
    transform: translateX(-50%);*/
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 70px;
}

.phone-overlay {
    width: 230px;
    height: 410px;
    background-color: #efefef;
    position: absolute;
    top: -1px;
    left: -1px;
    overflow: hidden;
    text-align: center;
    color: #444;
}

.pressplay-mobile-header {
    text-align: center;
    padding-top: 6px;
}

.pressplay-mobile-header img {
    width: 130px;
}

.btn.disabled,
.btn[disabled] {
    color: #FFF;
}

.hyperlink {
    cursor: pointer;
    color: #2E5EAA;
}


/* add warning class to materialize classes */


/* warning  color */

.input-field input[type=text].warning {
    border-bottom: 1px solid #f9a825;
    box-shadow: 0 1px 0 0 #f9a825;
}


/* overridin styles due to lib conflicts */

.chosen-container-single .chosen-search input[type=text] {
    padding-left: 0px;
    padding-right: 0px;
}

.channel-select-container,
.content-select-container,
.sponsor-select-container,
.feed-channel-select-container,
.collection-select-container,
.feed-content-select-container,
.content-image-select-container {
    display: inline-block;
    position: relative;
    /*position: absolute;
    top: 200px;
    right: 100px;*/
}

.select-containers {
    position: absolute;
    top: 170px;
    left: 50%;
}

.channel-preview {
    cursor: -webkit-grab;
}

.channel-preview-icon {
    width: 100%;
    height: 80px;
    border: thin solid #ccc;
}

.channel-preview-name {
    text-align: center;
}

.channel-preview {
    /*margin: 10px 5px;*/
    position: relative;
    width: 50%;
    /*height: 70px;*/
}




.feed-element-half,.feed-element-full {
    cursor: -webkit-grab;
}

.feed-content-preview-icon,.feed-channel-preview-icon,.feed-image-ad-preview-icon {
    width: 100%;
    height: 80px;
    border: thin solid #ccc;
}

.collection-preview-icon {
    width: 100%;
    height: 80px;
    border: thin solid #ccc;
}



.feed-content-preview-name,.feed-channel-preview-name , .feed-image-ad-preview-name {
    text-align: center;
}

.collection-preview-name {
    text-align: center;
}


.feed-element-half {
    /*margin: 10px 5px;*/
    position: relative;
    width: 50%;
    /*height: 60px;*/
}

.feed-element-full {
    /*margin: 10px 5px;*/
    position: relative;
    width: 100%;
    /*height: 60px;*/
}

#top-video-preview {
    overflow: scroll;
    height: 370px;
    margin: 5px;
    text-align: left;
}

#top-videos-preview-container {
    overflow: scroll;
    background: #efefef;
    position: absolute;
    width: 230px;
    height: 410px;
    top: 420px;
    left: 0px;
    border: thin solid #cdcdcd;
    text-align: left;
    display: none;
}

#channel-preview-container, #feed-preview-container,#maincollection-preview-container {
    overflow: scroll;
    background: #efefef;
    position: absolute;
    width: 230px;
    height: 410px;
    top: 420px;
    left: 0px;
    border: thin solid #cdcdcd;
    text-align: left;
    display: none;
}

.maincollection-content-preview-container,.content-preview-container, .splash-preview-container, .preroll-preview-container , .image-ad-preview-container,.maincollection-preview-container {
    overflow: scroll;
    background: #efefef;
    position: absolute;
    width: 230px;
    height: 410px;
    top: 420px;
    left: 0px;
    border: thin solid #cdcdcd;
    display: none;
}

.sponsor-preview-container,
.top-bar-sponsor-preview-container {
    overflow: scroll;
    background: #ffffff;
    position: absolute;
    width: 230px;
    height: 410px;
    top: 0px;
    left: -300px;
    border: thin solid #cdcdcd;
    display: none;
}

.content-section-header,
.sponsor-section-header,
.channel-section-header,
.top-video-section-header,
.maincollection-section-header,
.feed-section-header {
    width: 100%;
    height: 32px;
    padding-top: 6px;
}

.button-section-header {
    font-size: 1.3em;
}
.maincollection-name-header,
.channel-name-header,
.top-video-name-header,
.feed-name-header,
.maincollection-name-header {
    font-size: 1.2em;
    margin: 0 auto;
    width: auto;
    display: inline-block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.menu-down,
.menu-right {
    position: absolute;
    top: 1px;
    left: -4px;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

.empty_element {
    color:white;
    text-align: center;
    padding-top: 20px;
    /*padding-left: 2px;
    padding-right: 2px;*/
    border-left:.5px solid white;
    background-color: #aaa;
    display: inline-block;
    vertical-align: top;
}


.content-preview,.image-ad-preview,.maincollection-preview{
    position: relative;
    cursor: -webkit-grab;
    margin-bottom: 3px;
    border: thin solid #cdcdcd;
    width: 100%;
    height: 100px;
    background-color: #888;
}

.content-preview-poster,.image-ad-preview-poster,.maincollection-preview-poster {
    height: 100px;
}

.content-image-overlay,.image-ad-image-overlay,.maincollection-image-overlay {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.8) 76%);
}

.content-preview-name,.image-ad-preview-name,.maincollection-preview-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #FFF;
    font-size: 1.2em;
    width: 90%;
    text-align: center;
}

.sponsor-toggle {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

.sponsor-select-text {
    font-size: 1.2em;
    text-align: center;
    top: 50%;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
}

.name-header {
    font-size: 1.2em;
}

.sponsor-preview {
    width: 100%;
    border-bottom: thin solid #cdcdcd;
    cursor: -webkit-grab;
    margin-top: 20px;
}

.sponsor-preview-logo {
    width: 100px;
    height: 63px;
}

.sponsor-preview-name {
    text-align: center;
    font-size: 1.3em;
    display: inline;
    margin-left: 8px;
}

.wait-text {
    font-size: 2.5em;
    color: #bbb;
    font-family: 'msp_thin', sans-serif;
    position: absolute;
    top: 29%;
    width: 100%;
    text-align: center;
}

.sponsor-image-thumbnail {
    width: 200px;
}

.actual-count {
    display: inline-block;
    color:red;
}

.count-type {
    width: 70%;
    display: inline-block;
}

.count-block {
    width: 19%;
    display: inline-block;
}

.unapproved-element {
    margin: 10px;
    display: inline-block;
}

.unapproved-element-list {
    position: relative;
    width: 100%;
    /*text-align: center;*/
}

.unapproved-element-status-check {
    margin: 20px;
    display: block;
}

/*.empty-element-list {
    width: 100%;
    float: right;
    text-align: center;
}*/

.version-unapproved-element-tool-box {
    position: absolute;
    top: 480px;
    left: 45%;    
}

.version-tool-box {
    position: absolute;
    top: 480px;
    left: 50%;
    /*display: block;*/
    width: 201px;
}

.home-button {
    float: right;
    text-transform: uppercase;
    font-size: 0.8em;
    position: absolute;
    right: 74px;
    top: 10px;
    padding: 5px;
    font-family: 'msp_text', sans-serif;
}

.marvel-device.nexus5 {
    width: 230px;
    height: 410px;
}

.version-edit-button {
    display: block;
    position: relative;
}

.version-type {
    display: block;
    position: relative;
    margin-bottom: 25px;
}


/* NANDA animation */

@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}

.nanda-image {
    animation: 3s rotate360 infinite linear;
    width: 280px;
}

.dropdown-menu li a {
    cursor: pointer;
}

.carousel-control {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    transform: translateY(-50%);
}

.carousel-control.left {
    left: 15px;
}

.carousel-control.right {
    right: 15px;
}

.icon-next {
    top: 13px;
    left: -2px;
    font-size: 1.3em;
}

.icon-prev {
    font-size: 1.3em;
    top: 13px;
    left: 12px;
}

.no-top-videos-message {
    text-align: center;
    top: 50%;
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    font-size: 1.3em;
}

#top-videos-carousel {
    top: 50%;
    position: absolute;
    transform: translateY(-60%);
}

.carousel .item {
    height: 150px;
}

.block {
    display: block;
}

.bold {
    font-weight: bold;
}

.image-ad-badge {
    background-color: #ffc400;
    padding: 3px;
    color: #FFF;
}

.input-field .chosen-container {
    height: 48px;
    font-size: 16px !important;
    font-family: msp_text !important;
    width:100% !important;
}

.input-field .chosen-container .chosen-single {
    padding-top: 1em;
    height: 100% !important;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(158, 158, 158);
    background-image: none;
    overflow-y: auto;
    border-radius: 0px;
    padding-left: 0px !important;
}

.input-field .chosen-container .chosen-single div {
    padding-top: 1em;
}

.input-field .chosen-container .chosen-single .search-field input {
    font-weight: 700;
    color: rgb(153, 153, 153);
    height: 100%;
    font-family: msp_text !important;
}

.input-field .chosen-container .chosen-drop {
    
}

.input-field .chosen-container-active {
    box-shadow: none !important;
}

.input-field .chosen-container .chosen-drop .chosen-results {

}


.highlighted-row {
    border: 2px dotted black;
}

.feed-row {
    height: 100px;
}


.image-ad-symbol {
    position: absolute;
    height:20px;
    width: 100px;
    background-color: #ffa000 ;
    color: white;
}

.media-title {
    font-size: 20px;
}

#media-source {
    height: 150px;
    border: dashed 3px #bbb;
    color: #d7663a;
    font-size: 34px !important;
}

#media-source:focus {
    outline: none;
}

#media-source::-webkit-input-placeholder {
    color: #999;
    font-size: 30px;
    line-height: 145px;
    text-indent: 35%;
    opacity: 0.6;
}

.media-source-name {
    overflow: scroll;
}

.file-object,.trailer-object{
  display: inline-block;
  margin: 10px 10px;
}

.file-inner{
  width:150px;
  min-height: 70px;
  border: thin solid #999;
  position: relative;
}

.file-icon {
    top: 8px;
    /*left: 60px;*/
    width: 30px;
    font-size: 33px;
    color: #d7663a;
}

.file-explorer-content{
    text-align: center;
}

.filename {
    bottom: 0px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-left: 0px;
    clear: both;
    top: 8px;
    padding-bottom: 10px;
}

.file-toolbar {
    width: 150px;
    height: 20px;
    margin-top: -1px;
    border: thin solid #999;
    color: #d7663a;
}

.file-play {
    font-size: 14px;
    /*margin-left: 2px;*/
    float: left;
}

.file-add,.trailer-add {
    float: right;
    margin-right: 2px;
}

#view-content-tag-list,#view-channel-tag-list{
    height: 34px;
}


.bootstrap-tagsinput {
    border-radius: 0px !important;
    border:none !important;
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: none;
    padding: 0px !important;
    width: 100% !important;
}

.bootstrap-tagsinput:focus {
    border:none !important;
}

.bootstrap-tagsinput input {
    padding: 0px !important;
    width: 100% !important;
    font-size: 1rem;
    font-family: msp_text, 'Open Sans', sans-serif !important;
}

::-webkit-input-placeholder {
    color: #9e9e9e;
    font-weight: bold;
    font-size: 1rem;
    font-family: msp_text, 'Open Sans', sans-serif !important;
}

:-ms-input-placeholder {
    color: #9e9e9e;
    font-weight: bold;
    font-size: 1rem;
    font-family: msp_text, 'Open Sans', sans-serif !important;
}

:-moz-placeholder {
    color: #9e9e9e;
    font-weight: bold;
    font-size: 1rem;
    font-family: msp_text, 'Open Sans', sans-serif !important;
}

::-moz-placeholder {
    color: #9e9e9e;
    font-weight: bold;
    font-size: 1rem;
    font-family: msp_text, 'Open Sans', sans-serif !important;
}


.slug-error, .generated-slug {
    display: inline-block;
}
.slug-available {
    color: green;
}

.slug-unavailable {
    color: red;
}

.video-load {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.bootstrap-tagsinput .tag {
    font-size: 16px !important;
    top: 2px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
/********************* */

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 35em) {
    .task-row {
        width: 95%;
    }
}

@media only screen and (max-width: 45em) {
    .full-logo-img {
        display: none;
    }
    .small-logo-img {
        display: block;
    }
}
