</div>

<div class="footer white-bg center f0"> Press Play Pvt Limited</div>

<!-- include js libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- including styles if passed in paramters -->
    {% if scripts %}
      {% for script in scripts %}
        <script src="/static/build/scripts/{{script}}.js" type="text/javascript" ></script>
      {% endfor %}
    {% endif %}

  <!--  TODO : remove after testing -->
  <!--<script src="/static/js/gsignin-temp.js" type="text/javascript" charset="utf-8" async ></script>-->

</body>

</html>
