<!DOCTYPE html>
<html>

<head>
    <title>PressPlay TV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- including styles if passed in paramters -->
    {% if stylesheets %} {% for stylesheet in stylesheets %}
    <link rel="stylesheet" href="/static/build/styles/{{stylesheet}}.css"> {% endfor %} {% endif %}
    <!-- Main stylesheet -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>

<body>
    <div class="header white-bg">
        <a href="/">
            <div class="logo">
                <div class="full-logo-img logo-img"><img src="/static/img/PressPlay_R.png" alt="" style="width: 140px"></div>
                <div class="small-logo-img logo-img"><img src="/static/img/logo_circle.png" style="width: 45px" alt=""></div>
            </div>
        </a>
        <div class="header-text">
            <a href="/">
                Ammunition
            </a>
        </div>
        <div class=" btn btn-primary btn-outline pointer home-button hyperlink"  data-url="/">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
        </div>
        <div class="logout-button p-hidden">
            log out
        </div>
    </div>
    <div class="wrapper">
